# Django y REST Framework
Django>=5.2.0
gunicorn>=22.0.0
djangorestframework>=3.14.0
django-cors-headers>=4.0.0
drf-spectacular>=0.26.0
djangorestframework-simplejwt>=5.2.0

# Base de datos
mysqlclient>=2.1.0

# Clientes HTTP
requests>=2.31.0

# Utilidades
python-dotenv>=1.0.0
