{
    auto_https disable_redirects
}

gesagro.site {
    encode zstd gzip
    reverse_proxy host.docker.internal:18000

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
